doctype html
title Pasta, yum!
meta(charset="utf-8")
meta(http-equiv="x-ua-compatible",content="ie=edge")
meta(name="viewport",content="width=device-width, initial-scale=1")
//- link(href="styles/bin/main.css", rel="stylesheet")
body
    input(id="a",type="text",placeholder="A")
    input(id="o",type="text",placeholder="O")
    input(id="b",type="text",placeholder="B")
    input(id="c",type="button",value="Calc")
    br
    hr
    br
    span(id="r")
    script(data-main="bin/main", src="vendor/require.js")
